* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
}
img {
  width: 100%;
}

/* leftSide */
.leftSide {
  width: 210px;
  height: 100vh;
  clear: both;
  padding-left: 20px;
  padding-top: 13px;
}

.leftSide:hover {
  width: 210px;
  padding-left: 20px;
  padding-top: 13px;
  overflow-y: scroll;
}
.leftSide::-webkit-scrollbar {
  width: 5px;
}
.leftSide::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 2px;
}
.leftSide::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #ddd;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.iconSec {
  float: left;
  width: 40px;
  overflow: hidden;
}
.iconSec i {
  font-size: 14px;
}
.logo {
  width: 100px;
  float: left;
  overflow: hidden;
}
.logo img {
  width: 70px;
  display: block;
  overflow: hidden;
  clear: both;
  cursor: pointer;
}
.logo span {
  position: relative;
  content: "";
  left: 73px;
  top: -22px;
  font-size: 10px;
}

.sideMenu {
  width: 180px;
  display: block;
}
ul.menuItem {
  width: 180px;
  display: block;
  overflow: hidden;
}
ul.menuItem img {
  width: 15px;
  display: block;
  overflow: hidden;
  float: left;
  margin-top: 7px;
}
ul.menuItem li a {
  font-size: 12px;
  text-decoration: none;
  padding-left: 25px;
  line-height: 30px;
  color: #555;
}
ul.menuItem li i {
  margin-right: 18px;
  margin-left: -24px;
  font-size: 14px;
}
ul.menuItem li:hover {
  background: #f4f4f4;
  width: 100%;
  content: "";
  left: 0;
  right: 0;
  display: block;
}
a .t_color {
  color: red;
}
.fixed_color {
  display: block;
  width: 100%;
  background: #d8d8d8;
}
.menuItem {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.menuItem p {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
p .small_text {
  font-size: 10px;
  line-height: 15px;
  color: rgb(78, 78, 78);
  padding-bottom: 15px;
  padding-right: 10px;
  display: block;
}

/* main content */
.main_content {
  clear: both;
  overflow: hidden;
  top: 0;
}
.top_menu {
  width: 1086px;
  top: 0px;
  left: 210px;
  display: block;
  float: left;
  content: "";
  position: fixed;
  background: #fff;
}

form .search_data {
  margin-left: 170px;
  width: 460px;
  height: 25px;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid rgb(180, 180, 180);
}
form .ser_icn {
  border: 1px solid rgb(180, 180, 180);
  width: 65px;
  height: 25px;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 0 2px 2px 0px;
  margin-left: -4px;
  margin-top: 8px;
  cursor: pointer;
  padding-top: 4px;
  background: #efefef;
  color: #adadad;
}
form .ser_icn:hover {
  background: #ddd;
  color: #3d3d3d;
}
form .mycro_phne {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
  width: 30px;
  color: #3d3d3d;
  cursor: pointer;
}
form .upload {
  margin-left: 93px;
  width: 113px;
  height: 25px;
  display: inline;
}
form .upload .my_vv {
  font-size: 14px;
  margin-top: 10px;
  width: 30px;
  color: #3d3d3d;
  cursor: pointer;
}
form .upload .dt_squ {
  font-size: 14px;
  margin-top: 10px;
  width: 30px;
  color: #3d3d3d;
  cursor: pointer;
}
form .upload .notify_me {
  font-size: 14px;
  margin-top: 10px;
  width: 30px;
  color: #3d3d3d;
  cursor: pointer;
}
form .upload .notify_me::after {
  content: "9+";
  position: relative;
  width: 30px;
  height: 28px;
  left: -4px;
  top: -9px;
  font-size: 12px;
  background: red;
  border-radius: 11px;
  color: white;
  padding: 2px;
  text-align: center;
}
.upload img {
  width: 37px;
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  content: "";
  top: 9px;
  display: inline-block;
}
form {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  width: 99%;
}

/* top_menu_list */
.top_menu_list {
  height: 34px;
  margin-top: 17px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 0px;
  width: 99%;
}
.list_item {
  list-style: none;
  margin-top: 10px;
}
.list_item li {
  float: left;
  display: inline-block;
}
.list_item li a {
  text-decoration: none;
  padding: 8px 11px;
  width: auto;
  height: 22px;
  background: rgb(230 230 230);
  border-radius: 20px;
  margin-right: 5px;
  font-size: 12px;
  color: #555;
  transition: 0.5s;
}
.list_item li a:hover {
  background: rgb(202, 202, 202);
}
.c_fix {
  background: #242424 !important;
  color: white !important;
  transition: 0.5s;
}

.c_fix:hover {
  background: rgb(167, 167, 167) !important;
}

/* main_video_content */
.main_video_content {
  width: 88%;
  height: 6000px;
  position: absolute;
  left: 208px;
  top: 120px;
  background: #f9f9f9;
  margin-top: -17px;
  margin-left: 0px;
  overflow-y: scroll;
  z-index: -1;
  clear: right;
  float: left;
}
.content_video_section {
  padding: 10px 10px;
  float: left;
  display: block;
  position: relative;
  content: "";
  left: 0;
  width: 99%;
  overflow-y: scroll;
}
.single_video_post_item {
  width: 261px;
  height: 220px;
  float: left;
  overflow: hidden;
  display: block;
  padding: 5px 0px;
}
.thumbnail_section {
  width: 100%;
  height: auto;
}
.thumbnail_section img {
  width: 250px;
  height: 140px;
  cursor: pointer;
}
.thumbnail_section::after {
  position: relative;
  content: "11.52";
  right: -202px;
  bottom: 0;
  top: -31px;
  width: 32px;
  height: 14px;
  display: block;
  font-size: 11px;
  font-weight: 700;
  color: white;
  background: #232323;
  padding: 4px 6px;
  border-radius: 3px;
}
.v_content_text {
  margin-top: -17px;
}
.channel_logo {
  float: left;
  width: 35px;
  height: 80px;
  overflow: hidden;
  display: block;
}
.channel_logo img {
  width: 27px;
  height: auto;
  text-align: center;
  margin-left: 4px;
}
.content_text_info {
  float: left;
  width: 208px;
  height: 80px;
  overflow: hidden;
  display: block;
  margin-left: 7px;
}
h4.v_con_title {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
}
p.channel_name {
  font-size: 11px;
  color: #555;
  margin: 3px 0px;
}

p.view_details {
  font-size: 11px;
  margin-top: 2px;
  color: #555;
}

p.view_details .du_dots {
  font-size: 3px;
  color: #555;
  padding: 0px 5px;
  display: inline-block;
  margin-top: 4px;
  position: relative;
  top: -2px;
}
#pos_rel {
  /* position: relative; */
}
